






<div class="w3-card w3-light-grey w3-margin-top">
<div class="w3-container">
<h1>Tags</h1>
 <p>{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
   <span class="w3-tag w3-hover-red w3-small w3-margin-bottom"><a href="/tags/{{ $name | urlize }}">{{ $name }}</a></span>
  {{ end }}</p>

 <div class="w3-container w3-padding">
      <h1>Catégories</h1>
    </div>

  <p>{{ range $name, $taxonomy := .Site.Taxonomies.categories }}
   <span class="w3-tag w3-hover-red w3-small w3-margin-bottom"><a href="/categories/{{ $name | urlize }}">{{ $name }}</a></span>
  {{ end }}</p>

</div>
</div>


<div class="w3-center w3-padding-32">
<iframe src="https://duckduckgo.com/search.html?width=300&site=https://golb.statium.link&prefill=Recherche (DuckDuckGo)" style="overflow:hidden;margin:0;padding:0;width:358px;height:40px;" frameborder="0"></iframe>

</div>

<div class="w3-center w3-padding-32">

{{ if .Site.Params.logo }}
         <a href="{{ "" | absLangURL }}"><img class="medaillon" src="{{ .Site.Params.logo }}" alt="logo" /></a>
	{{ end }}

 {{ if .Site.Author.messageacceuil }}
        <p class="messageacceuil">{{ .Site.Author.messageacceuil }}</p>
    {{ end }}
 
<p class="messageacceuil"> Copyright : 
                  {{ if .Site.Author.name }}
            {{ if .Site.Author.website }}
              <a href="{{ .Site.Author.website }}">{{ .Site.Author.name }}</a>
            {{ else }}
              {{ .Site.Author.name }}
            {{ end }}
          {{ end }}
    |
  {{ if .Site.Params.since }}
            {{ .Site.Params.since }} - {{ .Site.LastChange.Format "2006" }}
          {{ else }}
            {{ .Site.LastChange.Format "2006" }}
          {{ end }}

| Contenus sous <a href="http://artlibre.org/">Licence Art Libre</a> </p>



<p class="messageacceuil">{{ i18n "poweredBy" . | safeHTML }} | Lien vers profil <a rel="me" href="https://framapiaf.org/@Framatophe">Mastodon</a></p>

</div>

<div class="w3-center w3-padding-32 w3-xxlarge">
    {{ if .Site.Author.mastodon }}
 <a href="{{ .Site.Author.mastodon }}" class="fab fa-mastodon w3-hover-text-red"></a>&nbsp;
    {{ end }}

    {{ if .Site.Author.gitlab }}
<a href="{{ .Site.Author.gitlab }}" class="fab fa-gitlab w3-hover-text-red"></a>&nbsp;
    {{ end }}
    {{ if .Site.Author.twitter }}
<a href="{{ .Site.Author.twitter }}" class="fab fa-twitter w3-hover-text-red"></a> 
    {{ end }}

    {{ if .Site.Author.linkedin }}
<a href="{{ .Site.Author.linkedin }}" class="fab fa-linkedin w3-hover-text-red"></a> 
    {{ end }}    
 {{ if .Site.Params.rss }}        
            <a href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" title="RSS" class="fas fa-rss w3-hover-text-red"></a>
 {{ end }}
 
 {{ if .Site.Params.lienautrelogo }}
<a href="{{ .Site.Params.lienautrelogo }}">
 {{ if .Site.Params.autrelogo }}
                <img class="exponormale" src="{{ .Site.Params.autrelogo }}" alt="autre logo" />
{{ end }}
</a>
{{ end }}
    
</div>

</footer>





</body>
</html>
