<!-- panneau 3 -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">

  <p>{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
   <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"><a href="/tags/{{ $name | urlize }}">{{ $name }}</a></span>
  {{ end }}</p>

 <div class="w3-container w3-padding">
      <h4>Catégories</h4>
    </div>

  <p>{{ range $name, $taxonomy := .Site.Taxonomies.categories }}
   <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"><a href="/categories/{{ $name | urlize }}">{{ $name }}</a></span>
  {{ end }}</p>

   









    </div>
  </div>
