  <div class="w3-card w3-margin w3-margin-top">
  
    <div class="w3-container w3-white w3-center">
 
  {{ if .Site.Params.logo }}
                <a href="{{ "" | absLangURL }}"><img class="medaillon" src="{{ .Site.Params.logo }}" alt="logo" /></a>
{{ end }}


<h1>{{ .Site.Title }}</h1>
{{ if .Site.Params.subtitle }}
  <h4>{{ .Site.Params.subtitle }}</h4>
{{end}}

 {{ if .Site.Author.messageacceuil }}
        <p class="messageacceuil">{{ .Site.Author.messageacceuil }}</p>
    {{ end }}



<div class="w3-center w3-padding-32 rezosozio">

   {{ if .Site.Author.mastodon }}
 <a href="{{ .Site.Author.mastodon }}" class="fab fa-mastodon" title="Mastodon - Framapiaf"></a>&nbsp;
    {{ end }}

    {{ if .Site.Author.gitlab }}
<a href="{{ .Site.Author.gitlab }}" class="fab fa-gitlab" title="Compte Framagit"></a>&nbsp;
    {{ end }}
    {{ if .Site.Author.twitter }}
<a href="{{ .Site.Author.twitter }}" class="fab fa-twitter" title="Compte Touitteur"></a> 
    {{ end }}
    
    <a href="https://statium.link/bazaar/clefs/" class="fas fa-key" title="Clés de chiffrement"></a>

</div>



<!-- Y a t il vraiment besoin de ce bouton accueil ?

<form style="display: inline" action="{{ "" | absLangURL }}" method="get">
  <button class="w3-button w3-padding-large w3-white w3-border">Accueil</button>
</form>

-->



{{ if .Site.Params.lienautrelogo }}
<a href="{{ .Site.Params.lienautrelogo }}">
 {{ if .Site.Params.autrelogo }}
                <img class="exponormale" src="{{ .Site.Params.autrelogo }}" alt="autre logo" />
{{ end }}
</a>
{{ end }}


</div>


      
  </div>
