{{ partial "head.html" . }}

{{ partial "header.html" . }}
<div class="cartouchedetitre">
  <h1 class="titredarticle">{{ .Title }}</h1>
  
</div>


<div class="centre">
{{ partial "post_meta.html" . }}
  {{ .Content }}

 {{ if .Site.Params.showRelatedPosts }}
          {{ $related := .Site.RegularPages.Related . | first 3 }}
          {{ with $related }}
        <div class="voiraussi">
          <h4>{{ i18n "seeAlso" }}</h4>
          <ul>
          {{ range . }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
          </ul>
          {{ end }}
        </div>
        {{ end }}

 {{ if ne .Type "page" }}
        <div class="pagination">
          {{ if .PrevInSection }}
            <p class="precedent">
              <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
            </p>
          {{ end }}
          {{ if .NextInSection }}
            <p class="suivant">
              <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
            </p>
          {{ end }}
        </div>
      {{ end }}

</div> <!-- la fin de la div centre -->
{{ partial "footer.html" . }}
