<!DOCTYPE html>
<html lang="fr">
<head>
<meta name="robots" content="index,follow" /> 
<meta name="googlebot" content="index,follow" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>{{ .Title }}</title>

<!-- Les balises meta, open graph et touittère -->

<meta name="keywords" content="informatique,logiciels libres,historique,gnu,hacker,numérique,capitalisme,surveillance,vtt,sport">

<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
<meta name="author" content="{{ .Site.Params.Author }}"/>
<link href='{{ .Site.Params.favicon | absURL }}' rel='icon' type='image/x-icon'/>



<meta property="og:image" content="{{if .IsHome}}{{ .Site.Params.logo | absURL }}{{else}}{{ .Params.image  | absURL  }}{{end}}" />


<meta property="og:url" content="{{ .Permalink | absLangURL }}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<!-- Hugo Version number -->
  {{ hugo.Generator -}}

<!-- Fuck CSS -->
<!-- Thanks to Marien Fressinaud https://marienfressinaud.fr/css-minimale.html-->
<style type="text/css">
body {
    max-width: 60ch;
    margin: 3rem auto 10rem;
    padding: 0 0.5rem;
    color: #444;
    font-size: 120%;
    line-height: 1.6;
    background-color: #f9f9ff;
}

h1, h2, h3 {
    line-height: 1.2;
}

img {
    max-width: 100%;
}

table, td, th {
    border: 1px solid;
    border-collapse: collapse;
    padding: 0.5rem;
    }
</style>

</head>
