<!-- panneau 3 -->
  <div class="w3-card w3-margin">


   <div class="w3-container w3-padding">
      <h2>Auteurs</h2>
    </div>
<div class="w3-container w3-light-grey">
<p><span class="w3-tag w3-hover-red w3-margin-bottom"><a href="https://www.zotero.org/groups/2051866/framatophe/library">(Voir la liste bibliographique sur Zotero)</a></span></p>
  <p>{{ range $name, $taxonomy := .Site.Taxonomies.auteurs }}
   <span class="w3-tag w3-hover-red w3-margin-bottom"><a href="/auteurs/{{ $name | urlize }}">{{ $name }}</a></span>
  {{ end }}</p>









    </div>
  </div>
