<!--
  {{ $lastmodstr := default (i18n "dateFormat") .Site.Params.dateformat | .Lastmod.Format }}
  {{ $datestr := default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format }}
  &#9753;&nbsp;{{ $datestr | i18n "postedOnDate"}}
  {{ if ne $datestr $lastmodstr }}
    &nbsp;{{ $lastmodstr | i18n "lastModified"  }}
  {{ end }}
  {{ if .Site.Params.readingTime }}
    &nbsp;|&nbsp;&#9201;&nbsp;{{ i18n "readingTime"}}{{ .ReadingTime }}&nbsp;{{ i18n "readTime" }}
  {{ end }}
  {{ if .Site.Params.wordCount }}
    &nbsp;|&nbsp;&#9999;&nbsp;{{ .WordCount }}&nbsp;{{ i18n "words" }}
  {{ end }}
  {{ if .Params.author }}
    &nbsp;|&nbsp;&#9997;&nbsp;{{ .Params.author | safeHTML }}
  {{ else }}
    &nbsp;|&nbsp;{{ .Site.Author.name | safeHTML }}
  {{ end }}
  
-->

 
<p>
 &#9753;&nbsp; Posté le {{ .PublishDate.Format "02-01-2006" }}
  {{ if ne $datestr $lastmodstr }}
    &nbsp;(modifié le {{ .Lastmod.Format "02-01-2006" }})
  {{ end }}
  {{ if .Site.Params.readingTime }}
    &nbsp;|&nbsp;&#9201;&nbsp;{{ i18n "readingTime"}}{{ .ReadingTime }}&nbsp;{{ i18n "readTime" }}
  {{ end }}
  {{ if .Site.Params.wordCount }}
    &nbsp;|&nbsp;&#10004;&nbsp;{{ .WordCount }}&nbsp;{{ i18n "words" }}
  {{ end }}
<br />
  {{ if .Params.author }}
    &#9998;&nbsp; <a class="p-author h-card" href="https://christophe.masutti.name">{{ .Params.author | safeHTML }}</a>
  {{ else }}
     &#9998;&nbsp;{{ .Site.Author.name | safeHTML }}
  {{ end }}
</p>
