


<div class="w3-center w3-padding-32 rezosozio">
    {{ if .Site.Author.mastodon }}
 <a href="{{ .Site.Author.mastodon }}" class="fab fa-mastodon"></a>&nbsp;
    {{ end }}

    {{ if .Site.Author.gitlab }}
<a href="{{ .Site.Author.gitlab }}" class="fab fa-gitlab"></a>&nbsp;
    {{ end }}
    {{ if .Site.Author.twitter }}
<a href="{{ .Site.Author.twitter }}" class="fab fa-twitter"></a> 
    {{ end }}

    {{ if .Site.Author.linkedin }}
<a href="{{ .Site.Author.linkedin }}" class="fab fa-linkedin"></a> 
    {{ end }}
</div>

<div class="w3-center w3-padding-32">

 
<p> Copyright : 
                  {{ if .Site.Author.name }}
            {{ if .Site.Author.website }}
              <a href="{{ .Site.Author.website }}">{{ .Site.Author.name }}</a>
            {{ else }}
              {{ .Site.Author.name }}
            {{ end }}
          {{ end }}
    |
  {{ if .Site.Params.since }}
            {{ .Site.Params.since }} - {{ .Site.LastChange.Format "2006" }}
          {{ else }}
            {{ .Site.LastChange.Format "2006" }}
          {{ end }}

| Contenus sous <a href="http://artlibre.org/">Licence Art Libre</a> </p>

<p>
 {{ if .Site.Params.rss }}
        
            <a href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" title="RSS" class="fas fa-rss"></a>
      
          {{ end }}
</p>

<p>{{ i18n "poweredBy" . | safeHTML }} | Design responsive : <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>





</div>

</footer>





</body>
</html>
