 <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4 class="centragedeh4panneau">Navigation</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">

<span class="fas fa-home"></span>&nbsp;
       <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
      </li>
    {{ range .Site.Menus.main.ByWeight }}
      <li class="w3-padding-16">
<span class="fas fa-file"></span>&nbsp;
        <a title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a>
      </li> 
      {{ end }} 

<li class="w3-padding-16">
        
        <span class="fab fa-mastodon"></span>&nbsp;
          <a href="https://framapiaf.org/@framatophe">Micro-blog</a>
      </li>
    </ul>
  </div>
