{{ partial "head.html" . }}
{{ partial "header.html" . }}


<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">


<!-- Blog entry -->
        <div class="w3-card-4 w3-margin w3-light-grey">


                <div class="w3-container">
                        <div class="w3-row w3-padding-large">
    
                                            <h1>{{ .Title }}</h1>
                                            {{ if .Params.subtitle }}
                                            <h5>
                                            {{ .Params.subtitle }}
                                            </h5>
                                            {{ end }}
                        </div>

                        <div class="w3-row">
                                <div class="w3-third w3-padding-large">
                                            {{ if .Params.image }}
                                            <img src="{{ .Params.image }}" alt="{{ .Title }}" style="height: auto;  max-width: 100%;  margin-left: auto;  margin-right: auto;  display: block" />
                                            {{ end }}
                                </div>
                        
                                    <div class="w3-twothird">      
                                            <div class="danslestextes">
                                            <h6>Résumé / 4<sup>e</sup> couv.</h6>
                                            {{ .Content }} 
                                            </div>
                                 </div>
           <p><button class="w3-button w3-padding-large w3-white w3-border">
                                    <a href="/bibliographie/" class="post-read-more">Retour au Coin lecture &#8594;</a>
                                </button>
           </div>

    </div>








</div> <!-- end Blog entry -->




</div> <!-- end Blog entries -->



<!-- barre laterale -->
<div class="w3-col l4">

  
  <!-- Panneau 4 auteurs -->
   {{ partial "panneau4auteurs.html" . }}

  
<!-- END barre laterale -->
</div>



</div> <!--end grid -->

</div> <!-- END w3-content -->


<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">

            {{ if ne .Type "page" }}
          {{ if .PrevInSection }}

<form style="display: inline" action="{{ .PrevInSection.Permalink }}" method="get">
  <button class="w3-button w3-padding-large w3-dark-grey w3-border">&larr; {{ i18n "previousPost" }}</button>
</form>



             {{ end }}
          {{ if .NextInSection }}
                


<form style="display: inline" action="{{ .NextInSection.Permalink }}" method="get">
  <button class="w3-button w3-padding-large w3-dark-grey w3-border">{{ i18n "nextPost" }} &rarr;</button>
</form>


          {{ end }}
      {{ end }}


{{ if .Site.Params.showRelatedPosts }}
          {{ $related := .Site.RegularPages.Related . | first 3 }}
          {{ with $related }}
        <div class="voiraussi">
          <h2>{{ i18n "seeAlso" }}</h2>
          <ul>
          {{ range . }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
          </ul>
          {{ end }}
        </div>
        {{ end }}
<hr>



{{ partial "footer.html" . }}







