{{ partial "head.html" . }}
{{ partial "header.html" . }}


<div class="w3-content" style="max-width:800px">
<!-- Grid -->
<div class="w3-row">

<div class="w3-container w3-center w3-padding-32">
 <h1># {{ .Title }}</h1>

</div>
    <!-- Blog entries -->
    <div class="w3-row">

          {{ range .Paginator.Pages }}
        <!-- Blog entry -->
        <article class="w3-card-4 w3-margin w3-light-grey">
                <!-- {{ if .Params.image }}
                <img src="{{ .Params.image }}" alt="{{ .Title }}" style="height: auto;  max-width: 100%;  margin-left: auto;  margin-right: auto;  display: block" />
                {{ end }} -->
                    <div class="w3-container">
                                
                            <a href="{{ .Permalink }}">
                                <h1>{{ .Title }}</h1>
                                    {{ if .Params.subtitle }}
                                        <h5>
                                        {{ .Params.subtitle }}
                                        </h5>
                                    {{ end }}
                                    </a>
                                    <h6><span class="w3-text-red">{{ partial "post_metabis.html" . }}</span></h6>
                        

                    </div>

                    <div class="w3-container">
                    <p>{{ if .Truncated }}
                    {{ if .Params.summary }}{{ .Params.summary }}{{ else }}{{ .Summary }}{{ end }}</p>

                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p><button class="w3-button w3-padding-large w3-red w3-border w3-hover-black">
                                    <a href="{{ .Permalink }}" class="post-read-more">&#8594; Lire</a>
                                </button></p>
                            </div>

                    <div class="w3-col m4 w3-hide-small w3-text-red w3-small">
                    {{ if .Params.tags }}
                    <p> <span class="w3-tag">
                    {{ range .Params.tags }}
                        #<a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
                    {{ end }}
                    {{ end }}
                    </span></p>
                        </div>
                    {{ else }}
                    {{ .Content }}
                    {{ end }}



                    </div>

                    
        
                
                    
            </div>


        </article>
        {{ end }}    <hr>
    </div>

<!-- barre laterale -->

<!-- END barre laterale -->
</div>







<!-- Footer -->
<!-- Footer -->
<footer class="w3-light-grey w3-padding-32 w3-margin-top">
<div class="w3-row">

<div class="w3-half w3-left-align">

{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          
            {{ if .Paginator.HasPrev }}
  

<form style="display: inline" action="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/" method="get">
  <button class="w3-button w3-padding-large w3-red w3-border">&larr; {{ i18n "newerPosts" }}</button>
</form>


            {{ end }}
            
</div> <!-- half de pagination 1 -->

<div class="w3-half w3-right-align">              

            {{ if .Paginator.HasNext }}
                

<form style="display: inline" action="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/" method="get">
  <button class="w3-button w3-padding-large w3-red w3-border">{{ i18n "olderPosts" }} &rarr;</button>
</form>




            {{ end }}
        {{ end }}


</div> <!-- half de pagination 2 -->
</div> <!-- row de pagination -->



{{ partial "footer.html" . }}


</div> <!--end grid -->

</div> <!-- END w3-content -->





