<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>{{ .Title }}</title>

<!-- Les balises meta, open graph et touittère -->
<meta property="og:title" content="{{ .Title }}" />
<meta name="twitter:title" content="{{ .Title | truncate 70 }}" />

<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
<meta property="og:description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
<meta name="twitter:description" content="{{if .IsHome}}{{ $.Site.Params.description | truncate 200 }}{{else}}{{.Description | truncate 200 }}{{end}}">
<meta name="author" content="{{ .Site.Params.Author }}"/>
<link href='{{ .Site.Params.favicon | absURL }}' rel='icon' type='image/x-icon'/>
<meta property="og:image" content="{{ .Site.Params.logo | absURL }}" />
<meta name="twitter:image" content="{{ .Site.Params.logo | absURL }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ .Site.Author.twitter }}" />
<meta name="twitter:creator" content="@{{ .Site.Author.twitter }}" />
<meta property="og:url" content="{{ .Permalink | absLangURL }}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<!-- Hugo Version number -->
  {{ hugo.Generator -}}

<!-- les trucs serieux -->
<link rel="stylesheet" href="{{ "css/principal.css" | absURL }}" />


</head>
