{{ partial "head.html" . }}
{{ partial "header.html" . }}


<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">


<!-- Blog entry -->
        <div class="w3-card-4 w3-margin w3-white">

                {{ if .Params.image }}
                <img src="{{ .Params.image }}" alt="{{ .Title }}" style="height: auto;  max-width: 100%;  margin-left: auto;  margin-right: auto;  display: block" />
                {{ end }}

    <div class="w3-container">
        <h1>{{ .Title }}</h1>
        {{ if .Params.subtitle }}
                                        <h5>
                                        {{ .Params.subtitle }}
                                        </h5>
                                    {{ end }}

<h6><span class="w3-opacity">{{ partial "post_meta.html" . }}</span></h6>
           <div class="danslestextes"> {{ .Content }} </div>

    </div>








</div> <!-- end Blog entry -->




</div> <!-- end Blog entries -->



<!-- barre laterale -->
<div class="w3-col l4">

  <!-- Panneau 1 -->

{{if .IsHome}} 
   {{ partial "panneau1.html" . }}
{{ else }}
   {{ partial "panneau1bis.html" . }}
{{ end }}

<hr>
  
  <!-- Panneau 2 -->
   {{ partial "panneau2.html" . }}


  <hr> 
 
  {{ partial "panneau3.html" . }}
  
<!-- END barre laterale -->
</div>



</div> <!--end grid -->

</div> <!-- END w3-content -->


<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">

            {{ if ne .Type "page" }}
          {{ if .PrevInSection }}

<form style="display: inline" action="{{ .PrevInSection.Permalink }}" method="get">
  <button class="w3-button w3-padding-large w3-dark-grey w3-border">&larr; {{ i18n "previousPost" }}</button>
</form>



             {{ end }}
          {{ if .NextInSection }}
                


<form style="display: inline" action="{{ .NextInSection.Permalink }}" method="get">
  <button class="w3-button w3-padding-large w3-dark-grey w3-border">{{ i18n "nextPost" }} &rarr;</button>
</form>


          {{ end }}
      {{ end }}


{{ if .Site.Params.showRelatedPosts }}
          {{ $related := .Site.RegularPages.Related . | first 3 }}
          {{ with $related }}
        <div class="voiraussi">
          <h2>{{ i18n "seeAlso" }}</h2>
          <ul>
          {{ range . }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
          </ul>
          {{ end }}
        </div>
        {{ end }}
<hr>



{{ partial "footer.html" . }}







