body {font-family: 'Lora', serif;
font-size:1.2em;line-height:1.3em;
background-color: #000;
}



h1,h2,h3,h4,h5,h6 {font-family: 'Lora';
font-weight: bolder;
line-height:1.3em;
}

h2 {
border-bottom : 1px solid #ca0808;
padding-bottom: 5px;
}

a {text-decoration: none;}



.danslestextes a{
color: #ca0808;
}


.danslestextes a:hover{
color: #000000;
}


img{max-width:100%;
    height:auto;
    vertical-align:middle}



code {
color: #152c83;
font-family: 'Open Sans', sans-serif;
font-size: 90%;
word-wrap:break-word;
background-color: #F5F5F5;
}

pre {
color: crimson;
font-family: 'Open Sans', sans-serif;
background-color: #F5F5F5;
font-size: 80%;
white-space: pre-wrap;       /* css-3 */
white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

blockquote {
border-left: 2px solid #ca0808;
padding: 2%;
background-color: #fdedec ;
}



.w3-tag {
font-family: 'Open Sans', sans-serif;
}

.w3-tag a:hover {
opacity:0.60;
}


.medaillon {
  width: 50px;
  height: 50px;
  min-width: 20px;
  min-height: 20px;
  border: 4px solid #ededed;
  box-shadow: 2px 2px 5px #888888;
 -webkit-border-radius: 60px;
 -moz-border-radius: 60px;
 border-radius: 60px;
}

.exponormale {
 padding: 5px;   
}


.centragedeh4panneau {
text-align: center;
}


.messageacceuil {
font-size: 80%;
}







figcaption h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 80%;
    background-color:#E8E8E8;
    text-align: center;
    padding: 1%;
}


table {border-collapse:collapse;border-spacing:0;width:100%;display:table;border:1px solid #ccc}
tr {border-bottom:1px solid #ddd}
tbody tr:nth-child(even){background-color:#f1f1f1}
tr:nth-child(odd){background-color:#fff}
tr:nth-child(even){background-color:#f1f1f1}
tbody tr:hover {background-color:#ccc}
tr th tr td{text-align:center}
td th, td, th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
th:first-child, td:first-child, th:first-child, td:first-child{padding-left:16px}


/* --- toctoc table des matieres shortcode --- */

.toctoc {
  width: 100%
  margin-left: 5%;
  margin-top: 15px;
  padding: 10px;
  word-wrap: break-word;
  font-size: 80%;
border-left : 3px solid LightGrey;

}

.toctoc ul {
list-style-type: none;
}



.titredelatoc{
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 120%;
}


