/* --- Fonts --- */

/* lora-regular - latin */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lora/lora-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Lora Regular'), local('Lora-Regular'),
        url('../fonts/lora/lora-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/lora/lora-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/lora/lora-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/lora/lora-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/lora/lora-v12-latin-regular.svg#Lora') format('svg'); /* Legacy iOS */
}

/* lora-700 - latin */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lora/lora-v12-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Lora Bold'), local('Lora-Bold'),
        url('../fonts/lora/lora-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/lora/lora-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/lora/lora-v12-latin-700.woff') format('woff'), /* Modern Browsers */
        url('../fonts/lora/lora-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/lora/lora-v12-latin-700.svg#Lora') format('svg'); /* Legacy iOS */
}

/* lora-italic - latin */
@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/lora/lora-v12-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Lora Italic'), local('Lora-Italic'),
        url('../fonts/lora/lora-v12-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/lora/lora-v12-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/lora/lora-v12-latin-italic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/lora/lora-v12-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/lora/lora-v12-latin-italic.svg#Lora') format('svg'); /* Legacy iOS */
}

/* lora-700italic - latin */
@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/lora/lora-v12-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local('Lora Bold Italic'), local('Lora-BoldItalic'),
        url('../fonts/lora/lora-v12-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/lora/lora-v12-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/lora/lora-v12-latin-700italic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/lora/lora-v12-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/lora/lora-v12-latin-700italic.svg#Lora') format('svg'); /* Legacy iOS */
}

/* open-sans-300 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans/open-sans-v15-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Light'), local('OpenSans-Light'),
        url('../fonts/open-sans/open-sans-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans/open-sans-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-300.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans/open-sans-v15-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-300italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/open-sans/open-sans-v15-latin-300italic.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
        url('../fonts/open-sans/open-sans-v15-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans/open-sans-v15-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-300italic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans/open-sans-v15-latin-300italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/open-sans/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/open-sans/open-sans-v15-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
        url('../fonts/open-sans/open-sans-v15-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans/open-sans-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-italic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans/open-sans-v15-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans/open-sans-v15-latin-600.eot'); /* IE9 Compat Modes */
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
        url('../fonts/open-sans/open-sans-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans/open-sans-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-600.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans/open-sans-v15-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/open-sans/open-sans-v15-latin-600italic.eot'); /* IE9 Compat Modes */
    src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
        url('../fonts/open-sans/open-sans-v15-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans/open-sans-v15-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-600italic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans/open-sans-v15-latin-600italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans/open-sans-v15-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('../fonts/open-sans/open-sans-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans/open-sans-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-700.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans/open-sans-v15-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-800 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/open-sans/open-sans-v15-latin-800.eot'); /* IE9 Compat Modes */
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
        url('../fonts/open-sans/open-sans-v15-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans/open-sans-v15-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-800.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans/open-sans-v15-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/open-sans/open-sans-v15-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
        url('../fonts/open-sans/open-sans-v15-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans/open-sans-v15-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-700italic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans/open-sans-v15-latin-700italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-800italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/open-sans/open-sans-v15-latin-800italic.eot'); /* IE9 Compat Modes */
    src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
        url('../fonts/open-sans/open-sans-v15-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans/open-sans-v15-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-800italic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans/open-sans-v15-latin-800italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}


/* --- Fin polices --- */

body {
margin: 0;
background-color: white;
font-size: 1.2em;
line-height : 1.6em;
}

.entete {

}

.entete img{
  position: absolute;
  top: 3px;
  margin: auto;
  left: 0; 
  right: 0;
  width: 100px;
  height: 100px;
  border: 4px solid #ededed;
  box-shadow: 2px 2px 5px #888888;
 -webkit-border-radius: 60px;
 -moz-border-radius: 60px;
 border-radius: 60px;
}


.navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
font-family: 'Open Sans', sans serif;
}


.premierecasenavbar {
background-color: #1E90FF;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 10px;
  text-decoration: none;
  font-size: 0.8em;
}

.navbar a:hover {
  background-color: white;
  color: #333;
}

.active {
  background-color: #1E90FF;
  color: white;
}

.navbar .icon {
  display: none;
}


.cartouchedetitre {

}

.cartouchedetitre h1{
font-family: 'Open Sans', sans serif;
    font-weight: 750;
    font-style: normal;
text-align: center;
color: #333;
margin-top: 80px;
line-height: 180%;
font-size: 3em;
}

.cartouchedetitre h2{
font-family: 'Open Sans', sans serif;
    font-weight: 200;
    font-style: normal;
text-align: center;
color: #333;
}

.cartouchedetitre hr {
  border: 1px solid #666;
  border-radius: 1px;
width: 5%;
margin-bottom: 70px;
}

.centre {
margin: auto;
width: 800px;
font-family: 'Lora', serif;
    font-weight: normal;
    font-style: normal;
color: #333;
}

.centre h1 {
font-family: 'Open Sans', sans serif;
    font-weight: normal;
    font-style: normal;
color: #333;
margin-top: 50px;
}

.centre h2 {
font-family: 'Open Sans', sans serif;
    font-weight: 600;
    font-style: normal;
color: #333;
margin-top: 30px;
}

.centre h3 {
font-family: 'Open Sans', sans serif;
    font-weight: 700;
    font-style: normal;
color: #333;
margin-top: 30px;
}

.centre h4 {
font-family: 'Open Sans', sans serif;
    font-weight: normal;
    font-style: normal;
color: #333;
margin-top: 30px;
}

.centre p {

}

blockquote {
background-color: #e6e6e6;
padding: 10px;
}

.centre a {
text-decoration: none;
color: #1E90FF;
}

.centre a:hover {
text-decoration: none;
color: #333;
}

article {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 1.6em;
}


figure {
margin: auto;
}

figure h4 {
font-family: 'Open Sans', sans serif;
    font-weight: normal;
    font-style: normal;
color: #000;
background-color: #e6e6e6;
padding: 5px;
font-size: 0.8em;
text-align: center;
}

.centre img {
display: block;
max-width: 100%;
max-height: 800px;
margin: auto;
}

.post-title {
color: #333;
font-family: 'Open Sans', sans serif;
font-weight: 700;
}

.post-meta {
color: #777;
}

.tagcateg {
color: #777;
}

.blog-tags {
text-align: left;
font-size: 80%;
}

.blog-tags a:before{
content: "#";
}

.blog-categories {
text-align: left;
font-size: 80%;
}

.blog-categories a:before{
content: "#";
}

.post-entry {
margin-left: 1.2em;
}

.post-entry a{
color: #333;
}

.post-entry a:hover{
color: #1E90FF;
}

.post-read-more {

padding: 5px;
margin-left: 10px;
font-family: 'Open Sans', sans serif;
font-weight: 800;
float: right;
}





.footnote-ref {
font-size: 0.7em;
}

.footnote-ref a {
text-decoration: none;
color: #cc5200;
}

.footnote-ref a:before {
content: "(";
}

.footnote-ref a:after {
content: ")";
}


.footnote-return {
font-size: 0.7em;
text-decoration: none;
}


pre {
color: #DC143C;
background-color: #e6e6e6;
white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

code {
background-color: #e6e6e6;
color: #DC143C;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.pagination {
margin-top: 1.6em;
height: 4.8em;
}

.precedent {
float: left;
background-color: #e6e6e6;
padding: 5px;
}

.suivant {
float: right;
background-color: #e6e6e6;
padding: 5px;
}

.voiraussi {
border-top: 1px dashed #333;
}


.pieddepage {
border-top: 1px solid #afafaf;
background-color: #e6e6e6;
}

.pieddepage p {
font-size: 90%;
text-align: center;
}

.pieddepage a {
text-decoration: none;
color: #333;
}

.pieddepage a:hover {
text-decoration: none;
color: #fff;
}

.rezosozio {
padding-top: 1.6em;
display: block;
margin: auto;
text-align: center;
}

.rezosozio img{
width: 32px;
height: 32px;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
    body {
    margin: 0;
    background-color: white;
    font-size: 1em;
    line-height : 1.5em;
    }

    .centre {
    margin: auto;
    width: 95%;
    font-family: 'Lora', serif;
    font-weight: normal;
    font-style: normal;
    color: #333;
    }

    .entete img{
    top: 3px;
    float: left;
    left: 0; 
    right: 0;
    width: 50px;
    height: 50px;
    border: 4px solid #ededed;
    box-shadow: 2px 2px 5px #888888;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    }

    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
    float: right;
    display: block;
    }


    .navbar.responsive {  position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;}
    .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
    }
}

@media screen and (min-width: 800px) and (max-width: 1280px) {
.centre {
margin: auto;
width: 80%;
font-family: 'Lora', serif;
    font-weight: normal;
    font-style: normal;
color: #333;
}
}







